#span_one{
    
}

@keyframes span_nimations_span_one {
    to{
       transform: translateY(100vh);
    }
}
@media screen and (max-width:600px) {
    #span_one{
        width: 100px;
        height: 20px;
        background-color: #ff3102;
        position: absolute;
        z-index: 0;
        margin-left: -30px;
        border-radius: 20px;
        transform: rotate(90deg);
        animation:  span_nimations_span_one 2s infinite linear;
    }

}
