@media screen and (max-width:1030px){
    main .section_tow{
        flex-direction: column;
    }
    
    main .container_sobre_mim{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    main .titulo_principal{
        padding: 3rem;
    }
    main .section_sobre_mim{
        width: 100%;
    }
    main .section_form_contato{
        width: 100%;
    }
    main .titulo_principal h2{
        text-align: start;
        font-size: 17px;
    }
}
@media screen and (max-width:730px){
    .section_one .description h1{
        font-size: 55px;
    }
    .section_one .description h3{
        font-size: 20px;
    }
}

@media screen and (max-width:600px) {
    body .container main{
        width: 100%;
    }
    header{
        left: -100%;
        width: 0px;
        transition: all 300ms ease;
        opacity: 0;
    }
    header.active {
        left: 0%;
        width:0px;
        transition: all 300ms ease;
        opacity: 1;
    }
    .menu_icon{
        display: flex;
        position: fixed;
        z-index: 3000;
        cursor: pointer;
    }
    .skils{
        display: flex;
        flex-direction: column;
    }
    .section_tow{
        display: flex;
        flex-direction: column;
    }
    .section_one{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .cards_redes_sociais{
        width: 100%;
        justify-content: center;
        height: 100px;
    }
    .table_icons{
        justify-content: center;
    }
     
}
@media screen and (max-width:400px){
    main .section_one{
        z-index: 1;
    }
    .section_one .description{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
    .section_one .description_one{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .section_one .description h1{
        font-size: 30px;
    }
    .section_one .description h3{
        font-size: 10px;
        text-align: center;
    }
    .section_one .description_one button{
        font-size: 10px;
        margin-top: 20px;
    }
    .skils_one{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    .section_sobre_mim{
        height: 400px;
    }
    .container_sobre_mim{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .container_sobre_mim 
    .titulo_principal h1{
        font-size: 30px;
        text-align: start;
    }
    .container_sobre_mim 
    .titulo_principal h2{
        font-size: 17px;
        text-align: justify start;
    }
    
}
@media screen and (max-width:300px){
    .description .description_one button{
        padding: 0.3rem 1rem;
        
    }
    .section_animation_skils{
        height: 300px;
    }
}