.section_sobre_mim{
    width: 50%;
}

.container_sobre_mim{
    height: 100%;
}
.titulo_principal{
    padding: 1.5rem;
}
.titulo_principal h1{
    font-family: 'Poppins';
    color: #FAF2FD;
    font-size: 50px;
    line-height: 50px;
    text-transform: capitalize;
}
.titulo_principal h2{
    font-family: 'Poppins';
    color: #595959;
    font-weight: 500;
    text-transform: capitalize;
    width: 100%;
    text-align: justify;
    font-size: 20px;
}
.titulo_principal h2 a{
    color: #4285F4;
    font-weight: 200;
    text-decoration: none;
}
.titulo_principal h2 a:hover{
    color: white;
}
.titulo_principal h2 a:active{
    color: #595959;
}

.redes_sociais{
    display: flex;
    align-items: center;
    padding:0 2rem;
    width: 100%;
}
.table_icons{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.table_icons i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-size: 30px;
    position: relative;
    width: 70px;
    height: 50px;
    overflow: hidden;
}
.table_icons i p{
    position: absolute;
    z-index: 0;
    opacity: 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    width: 0;
    border-radius: 20px;
    background-color: #FAF2FD;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    margin-top: 20px;
}
.table_icons i p a{
    text-decoration: none;
    color: inherit;
    z-index: 5;
}
.table_icons i span{
    content: '';
    width: 11px;
    height: 11px;
    transform: rotate(135deg);
    position: absolute;
    bottom: 17px;
    z-index: 0;
    background-color: #FAF2FD;
}
.table_icons i:hover p{
    margin-top: 80px;
    opacity: 1;
    transition: all 200ms cubic-bezier(0.68,-0.55,0.255,1.55);
    width: 100px;
}
.table_icons i p:hover{
    transform: scale(1.1);
}
.table_icons i:hover {
    overflow: inherit;
}


.table_icons i:nth-child(1){
    color: #4285F4;
}
.table_icons i:nth-child(1) p{
    background-color: #FAF2FD;
}
.table_icons i:nth-child(2){
    color: #00E676;
}
.table_icons i:nth-child(3){
    color: #FAF2FD;
}
.table_icons i:nth-child(3) p{
    color: #1d1d1d;
}
.table_icons i:nth-child(4){
    color: #4285F4;
}







